$bg: #ffe7da;
$bg-light: #fff9f6;
$orange: #eb6341;
$orange-glass: rgba(235, 99, 65, 0.9);
$orange-dark: #b04b20;
$violet: #3d405b;
$green: #1c7057;
$green-glass: rgba(28, 112, 87, 0.9);
$green-light: #84b0a7;
$darken: rgba(38, 41, 58, 0.6);
