@import './_variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $bg;
	font-family: 'Poppins', sans-serif;
	color: $violet;
	font-size: 16px;
	font-weight: 300;
}

.hidden {
	display: none;
}

@keyframes animSlideTopRight {
	0% {
		transform: translateX(+80px) translateY(-80px);
	}

	100% {
		transform: translateX(0px) translateY(0px);
	}
}

@keyframes animSlideTopLeft {
	0% {
		transform: translateX(-80px) translateY(-80px);
	}

	100% {
		transform: translateX(0px) translateY(0px);
	}
}

@keyframes animSlideLeft {
	0% {
		transform: translateX(-150px);
	}

	100% {
		transform: translateX(0px);
	}
}

@keyframes animHoverMenu {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(-15px);
	}
}

@keyframes animFocusMenuMobile {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(15px);
	}
}

@keyframes animHoverMenuPages {
	0% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(8px);
	}
}
